@font-face {
    font-family:'NotoSans-Medium';
    src: url('../font/NotoSansKR-Medium.ttf') format('truetype');
  }
  @font-face {
    font-family:'NotoSans-Bold';
    src: url('../font/NotoSansKR-Bold.ttf') format('truetype');
  }
  @font-face {
    font-family:'NotoSans-Regular';
    src: url('../font/NotoSansKR-Regular.ttf') format('truetype');
  }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section , summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
	color: black;
}
p{
	color: black;
}
img{
	display: block;
	max-width: 100%;
}
html{
	font-size: 20px;
}
main{
    width: 100%;
    overflow: hidden;
}
header{
    width:100vw;
    height: 9vh;
    overflow: hidden;
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    border-bottom: 1px solid black;
    z-index: 999;
    background-color: white;
    font-family: NotoSans-Medium;
}

nav{
    margin-left: 2%;
    width: 30%;
}
nav ul{
    display: flex;
    font-size: 1.25rem;
    line-height: 4rem;
}
nav ul li a{
    margin-right: 2vw;
}
.banner{
    width: 15%;
    position: absolute;
    top: -30%;
    right: 1%;
}

.maintxt{
    width: 100%;
    height: 60vh;
    margin-top: 9vh;
    background-color: rgb(255, 255, 255);
    font-size: 13rem;
    font-weight: 700;
    padding-left: 1%;
    border-bottom: 1px solid black;
    font-family: NotoSans-Bold;
}

.about{
    width: 100vw;
    height: 31vh;
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-between;
}
.about .name{
    width: 55%;
    font-family: NotoSans-Regular;
    border-right: 1px solid black;
}
.about .name p{
    font-size: 3rem;
    font-weight: 700;
    line-height: 6rem;
    padding-left: 2.5%;
}
.aboutinner{
    width: 45%;
    text-align: end;
    font-size: 1.5rem;
    line-height: 2.2rem;
    font-weight: 500;
    padding: 4% 3% 0 0;
    font-weight: 700;
    font-family: NotoSans-Regular;
}
.scroll-down{
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
   .arrow-down{
    width: 0.8rem;
    height: 0.8rem;
    border: 2px solid transparent;
    border-right-color: rgb(151, 151, 99);
    border-bottom-color: rgb(151, 151, 99);
    transform: rotate(45deg);
    margin-top: 0.3rem;
    animation: arrow 1.15s linear infinite;
} 

@keyframes arrow{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0.25;
    }
    50%{
        opacity: 0.5;
    }
    75%{opacity: 0.75;
    }
    100%{
        opacity: 1;
    }
}


@keyframes fadein{
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateZ(0);
    }}
    .intro h2{
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 2.2rem;
        position: relative;
        margin-bottom: 0.5%;
        animation: fadein 7s ease-in-out;
        font-family: NotoSans-Medium;
    }
    .intro{
        margin: 10% 0% 20% 2%;
    }
.intro p{
    font-size: 0.9rem;
    line-height: 1.3rem;
    position: relative;
    animation: fadein 7s ease-in-out;
    font-family: NotoSans-Regular;
}
.skill .box{
    position: relative;
}
.box5 .page-loader{
    display: none;
    width: 100%;
    height: 26vh;
    margin-top: 5%;
}
.box6 .page-loader{
    display: none;
    padding-top: 10.5%;
}
.box7 .page-loader{
    display: none;
    padding-top: 11.5%;
}
.box8 .page-loader{
    display: none;
    padding-top: 18%;
}
.page-loader .page-loader1 circle{
    fill: none;
    stroke-width: 10px;
    stroke: rgb(0, 0, 0);
    stroke-dashoffset: 284;
    stroke-dasharray: 400;
    animation: loader1 2s ease;
    transform: rotate(-90deg);
    transform-origin: center center;
    animation-fill-mode: forwards;
}
.page-loader .page-loader2 circle{
    fill: none;
    stroke-width: 10px;
    stroke: rgb(0, 0, 0);
    stroke-dashoffset: 284;
    stroke-dasharray: 360;
    animation: loader1 2s ease;
    transform: rotate(-90deg);
    transform-origin: center center;
    animation-fill-mode: forwards;
}
.page-loader .page-loader3 circle{
    fill: none;
    stroke-width: 10px;
    stroke: rgb(0, 0, 0);
    stroke-dashoffset: 284;
    stroke-dasharray: 360;
    animation: loader1 2s ease;
    transform: rotate(-90deg);
    transform-origin: center;
    animation-fill-mode: forwards;
}
.page-loader .page-loader4 circle{
    fill: none;
    stroke-width: 10px;
    stroke: rgb(0, 0, 0);
    stroke-dashoffset: 284;
    stroke-dasharray: 310;
    animation: loader1 2s ease;
    transform: rotate(-90deg);
    transform-origin: center center;
    animation-fill-mode: forwards;
}
@keyframes loader1{
    100% {stroke-dashoffset: 0;}
}

.skill h5{
    position: absolute;
    top: 88%;
    font-size: 1.3rem;
    width: 3vw;
    height: 3vh;
    display: block;
    margin-left: 45%;
    text-align: center;
}


    .aboutinner .box,.skill .box{
    --c: #000000; /* the border color */
    --b: 2px;    /* the border thickness*/
    --g: 2px;     /* the gap on hover */
    
    padding: calc(var(--g) + var(--b));
    --_g: #0000 25%,var(--c) 0;
    background: 
      conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g))
       var(--_i,200%) 0  /200% var(--_i,var(--b))  no-repeat,
      conic-gradient(            at bottom var(--b) left  var(--b),var(--_g))
       0   var(--_i,200%)/var(--_i,var(--b)) 200%  no-repeat;
    transition: .3s, background-position .3s .3s;
    cursor: pointer;
  }
  .aboutinner .box:hover, .skill .box:hover{
    --_i: 100%;
    transition: .3s, background-size .3s .3s;
    z-index: 2;
  }
  
  body {
    background: #e8e9cc;
    display: grid;
    grid-gap: 4px;

    margin: 0;
    grid-auto-flow: column;
    place-content: center;
  } 









 h1{
    font-size: 5rem;
    font-weight: 700;
    line-height: 6rem;
    margin-left: 2%;
    margin-bottom: 2%;
    font-family: NotoSans-Bold;
}

.skillinner{
    display: flex;
}
.skill .box{
    width: 25%;
    height: 45vh;
    border: 1px solid black;
}
.skillinner h4{
    font-size: 1.25rem;
    font-weight: 700;
    padding: 5%;
}
.skillinner p{
    font-size: 0.9rem;
    line-height: 1.5rem;
    padding-left: 5%;
    font-family: NotoSans-Regular;
}
#portfolio{
    width: 100%;
    margin-bottom: 20vh;
    padding-top: 10%;
}
#portfolio h3{
    font-size: 2rem;
    font-weight: 700;
    padding: 2% 3%;
    line-height: 3rem;
    font-family: NotoSans-bold;
}
#portfolio h4{
    font-size: 1.1rem;
    padding: 2% 3%;
    line-height: 1.8rem;
    font-family: NotoSans-Regular;
}
#portfolio p{
    height: 20vh;
    font-size: 1rem;
    padding: 3%;
    line-height: 1.6rem;
    font-family: NotoSans-Regular;
}
.portfolio{
    position: relative;
    display: flex;
    width: 100%;
    height: 78vh;
    border: 1px solid black;
    background-color: white;
}
.portfolio .photo, .portfolio .mphoto{
    width: 36vw;
    height: 77.9vh;
    overflow: hidden;
    border: 1px solid black;
}

.portfolio img{
    width: 36vw;
    height: 100%;

}
.portfolio .mphoto img{
    width: 36vw;
    height: 250%;
}


.portfolio .text{
    width: 64vw;
    height: 100%;
}
.portfolio a{
    font-size: 1.25rem;
    width: 15vw;
    height: 8vh;
    display: block;
    margin:  5% 3%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    position: relative;
    font-family: NotoSans-Regular;

}
.portfolio .text a {
    display: inline-flex;
}
.portfolio a::after{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
    z-index: -1;
	width: 0%;
	height: 100%;
	transition: .3s;
}
.portfolio a:hover{
	color: rgb(255, 255, 255);
    z-index: 1;
}
.portfolio a:hover::after{
	width: 100%;
	background-color: rgb(0, 0, 0);
    color: white;
} 
#detail{
    width: 100%;
    position: relative;
}
.detailtxt{
    border-top: 1px solid black;
    padding: 1% 0% 1% 2%;
    font-family: NotoSans-Regular;
    background-color: white;
}
.detailpage {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20vh;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: white;
}
.detail {
    position: relative;
    width: 23%;
    margin-bottom: 3%;
    text-align: center;
    margin-top: 3%;
}
.detail img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    object-position: top;
    cursor: pointer;
    border: 1px solid black;
}#imagePopup {
    display: none;
    position: fixed; /* 화면 기준으로 고정 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    overflow: auto; /* 이미지가 길면 팝업 안에서 스크롤 가능 */
    padding: 20px;
    box-sizing: border-box;
}

#popupImg {
    width: 100%;
    height: auto;
    display: block;
}

/* 닫기 버튼 */
#closePopup {
     position: sticky;
    top: 10px; /* 위에서 10px */
    right: 10px; /* 오른쪽에서 10px */
    font-size: 2rem;
    background: rgba(0,0,0,0.5); /* 배경 반투명 */
    border: none;
    color: white;
    cursor: pointer;
    z-index: 10000;
    padding: 5px 10px;
    border-radius: 5px;
}

#closePopup:hover {
    background: rgba(165, 165, 165, 0.8);
}

.etcmain{
    position: relative;
    cursor: pointer;
}
.etcmain>li{
    width: 100%;
    height: 13vh;
    border-top: 1px solid black;
    display: flex;
    margin: auto;
}
.etcmain:hover{
    background-color: white;
}
.etcmain>li p{
    width: 10%;
    font-size: 1.25rem;
    line-height: 6rem;
    margin-left: 2%;
    font-family: NotoSans-Regular;
}
.etcmain>li span{
    font-size: 1.25rem;
    line-height: 6rem;
    padding: 0 15%;
    font-family: NotoSans-Regular;
}
.etcmain>li>img{
    width: 3vw;
    height: 3vh;
    position: absolute;
    right: 1.5%;
    margin: 2.7%;
}
.etcmain>li>img:last-child{
    display: none;
}

.etcsub{
    display: none;
}
.etcsub img{
    padding: 1.5%;
}
footer{
    width: 100%;
    height: 20vh;
    display: flex;
    font-size: 1.25rem;
    position: relative;
    border-top: 1px solid black;
    background-color: rgb(173, 233, 228);
    font-family: NotoSans-Regular;
}
footer .inner1{
    margin-left: 2%;
    padding-top: 1%;
    line-height: 1.6rem;
}
footer .inner2{
    display: flex;
    position: absolute;
    top: 70%;
    right: 2%;
}
footer .inner2 p{
    margin-left: 5vw;
}
footer .inner2 img{
    width: 5vw;
    height: 3.5vh;
    margin-left: 5vw;
}


